@model YourBooks.Models.Book
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<partial name="../BookShared/_BookInfo" />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@if (Model.Comments != null && Model.Comments.ToList().Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Comments:
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Comments.ToList())
            {
                <div>
                    <tr>
                        <td>
                            <div>
                                @Html.DisplayFor(modelItem => item.Text)
                            </div>
                            <div>
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            </div>
                        </td>
                        <td class="text-right">
                            <form asp-action="DeleteComment">
                                <input type="hidden" name="id" asp-for="@item.Id" />
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                </div>
            }
        </tbody>
    </table>
}

<form asp-controller="EditBooks" asp-action="Details" method="post">
    <partial name="../BookShared/_AddComment" />
</form>