@model YourBooks.Models.BookGenreViewModel
@{
    ViewData["Title"] = "Books";
}
<h2>Books</h2>

<form asp-controller="Books" asp-action="Index" method="get">
    <partial name="../BookShared/_FilterPartial"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
            </tr>
        }
    </tbody>
</table>
