@model YourBooks.Models.Book

<div class="row">
    <h4>Book</h4>
    <hr />
    <div class="col-md-4">
        <dl class="dl-horizontal cust-book-details">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ISBN)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>
        </dl>

        <a href="@Model.WebURL" class="btn btn-default cust-but-shop">Go shopping</a>
    </div>
    <div class="col-md-4 col-lg-offset-4">
        <img src="@Model.ImgURL" alt="book-thumbnail" class="pull-left img-thumbnail" />
    </div>

</div>